body{
    font-family: sans-serif;
    background-color: #eeee;
}
.project{
    display: inline;
    padding-left: 10px;
    text-decoration: none;
}
.hover {
    text-decoration: none;
    padding-right: 20px;
    padding-top:0px;

}
a:hover{
    text-decoration: underline;
    color: grey;
}
.head{
    background-color: #aaaa;
    padding: 20px;
}
h1{
    padding-bottom: 0px;
}
img{
    height: 200px;
}
.photo{
    padding: auto;
}
ul{
    text-decoration: disc;
}
.form{
    text-align: center;

}
.contact{
    background-color: #cccc;
    margin: 80px;
}
.h1{
    text-align: center;
}
table{
    border: 1px solid black;

}
.footer{
    background-color: #b2b2b2;
}
.hobbie{
    background-color: #a4b3c3;
    margin: 80px;
}